# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/

# NuGet
*.nupkg
packages/

# Test results
TestResults/
*.trx

# Misc
*.log
*.tmp